<nav id="leftMenu">
  <a routerLink="browse"></a>
  <h3>Links</h3>
  <ul>
    <li><a routerLink="browse">SEO</a></li>
    <li><a routerLink="browse">PHP</a></li>
    <li><a routerLink="browse">Ajax</a></li>
    <li><a routerLink="browse">jQuery</a></li>
    <li><a routerLink="browse">Web design</a></li>
    <li><a routerLink="browse">Web Programming</a></li>
    <li><a routerLink="browse">Content Creation</a></li>
    <li><a routerLink="browse">Internet Marketing</a></li>
    <li><a routerLink="browse">XHTML Templates</a></li>
  </ul>
  </nav>
<section>
    <h2>Browse Developers</h2>
    <h3 class="blue-background">Boston Developers</h3>
    

    <table class="dev-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>City</th>
          <th>Skills</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><a routerLink="../john">John Foss</a></td>
          <td>Cambridge</td>
          <td>html5, css, php</td>
        </tr>
        <tr>
          <td><a routerLink="../markjudge">Mark Judge</a></td>
          <td>Fall River</td>
          <td>html5, css</td>
        </tr>
        <tr>
          <td><a routerLink="../jakeSmith">Jake Smith</a></td>
          <td>Amesbury</td>
          <td>html5, ror, php, asp</td>
        </tr>
        <tr>
          <td><a routerLink="../henryBillard">Henry Billard</a></td>
          <td>Haverhill</td>
          <td>Photoshop, html, css</td>
        </tr>
        <tr>
          <td><a routerLink="../JenSheehan">Jen Sheehan</a></td>
          <td>Medford</td>
          <td>html5, Photoshop, css</td>
        </tr>
      </tbody>
    </table> 

    <h3 class="blue-background">New Hampshire Developers</h3>
    <table class="dev-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>City</th>
          <th>Skills</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><a routerLink="../stevemeadows">Steve Meadows</a></td>
          <td>Exeter</td>
          <td>html5, css, php</td>
        </tr>
        <tr>
          <td><a routerLink="../frankgill">Frank Gill</a></td>
          <td>Manchester</td>
          <td>html5, css</td>
        </tr>
        <tr>
          <td><a routerLink="../margowalls">Margo Walls</a></td>
          <td>Nashua</td>
          <td>html5, ror, php, asp</td>
        </tr>
        <tr>
          <td><a routerLink="../kevinteague">Kevin Teague</a></td>
          <td>Concord</td>
          <td>Photoshop, html, css</td>
        </tr>
        <tr>
          <td><a routerLink="../jeffgoodrow">Jeff Goodrow</a></td>
          <td>South Hampton</td>
          <td>html5, Photoshop, css</td>
        </tr>
      </tbody>

