<nav id="menu">
  <ul>
    <li class="menuitem"><a routerLink="" >Home</a></li>
    <li class="menuitem"><a routerLink="./about">About Us</a></li>
    <li class="menuitem"><a routerLink="./browse">Browse Developers</a></li>
    <li class="menuitem"><a routerLink="./register">Register As Developer</a>
    </li>
    <li class="menuitem"><a routerLink="./contact">Contact Us</a></li>
  </ul>
  <div id="displayName">
    <!-- <script>
      var displayName=document.getElementById("displayName")
      displayName();
    </script> -->
  </div>
</nav>

